.ply{

    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100vw;
    padding: 10px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.5);
}